.Display {
  width: 82%;
  background-color: var(--VeryDarkCyan);
  color: var(--White);
  text-align: left;
  padding-block: 3rem;
  padding-inline: 2.2rem;
  margin-inline: auto;
  border-radius: 1.5rem;
}

.Display .valueCtnr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 3rem;
}

.Display .valueCtnr span {
  font-size: 1.3rem;
  color: var(--GrayishCyan);
}

.Display .valueCtnr .value {
  font-size: 2.8rem;
  color: var(--StrongCyan)
}

.Display .resetBtnCtnr {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Display .resetBtnCtnr .resetBtn {
  width: 100%;
  font-family: inherit;
  font-size: 2.3rem;
  padding-block: 1rem;
  border: none;
  border-radius: .5rem;
}

.Display .resetBtnCtnr .resetBtn.default {
  background-color: var(--InactiveResetBg);
  color: var(--InactiveResetText);
  cursor: default;
}

.Display .resetBtnCtnr .resetBtn.active {
  background-color: var(--StrongCyan);
  color: var(--VeryDarkCyan);
  cursor: pointer;
}

.Display .resetBtnCtnr .resetBtn.active:hover {
  background-color: var(--LightGrayishCyan);
}

@media screen and (min-width: 1200px) {
  .Display {
    display: flex;
    flex-direction: column;
    height: 417px;
    padding: 4rem;
  }

  .Display .valueCtnr {
    margin-block-end: 4.5rem;
  }

  .Display .valueCtnr p {
    font-size: 1.8rem;
  }

  .Display .valueCtnr .value {
    font-size: 4rem;
  }

  .Display .resetBtnCtnr {
    flex: 1;
  }
}