.Form {
  width: 85%;
  padding-block: 2.5rem;
  margin-inline: auto;
}

.Form p {
  text-align: left;
  margin-bottom: 1.5rem;
  color: var(--DarkGrayishCyan);
}

/* Number Inputs */
.Form .formControl {
  text-align: left;
  margin-inline: auto;
  color: var(--DarkGrayishCyan);
}

.Form .formControl label,
.Form .formControl input[type="number"] {
  display: inline-block;
  width: 100%;
}

.Form .formControl input[type="number"] {
  font-size: 2rem;
  font-family: inherit;
  text-align: right;
  background-color: var(--VeryLightGrayishCyan);
  color: var(--VeryDarkCyan);
  padding-block: .5rem;
  padding-inline: 1.5rem;
  border: none;
  border-radius: .5rem;
  margin-block: .5rem 2rem;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -appearance: textfield;
}

.Form .formControl input[type="number"]:focus {
  border: 2px solid var(--StrongCyan);
  outline: none;
}

.Form .formControl input[type="number"]::-webkit-inner-spin-button,
.Form .formControl input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Radio Inputs */
.Form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  gap: 2rem;
  margin-block-end: 2rem;
  border: none;
}

.Form fieldset input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.Form fieldset label {
  display: inline-block;
  background-color: var(--VeryDarkCyan);
  color: var(--White);
  padding: 1rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
}

.Form fieldset input[type="radio"]:checked + label,
.Form fieldset input[type="radio"]:focus + label {
  background-color: var(--StrongCyan);
  color: var(--VeryDarkCyan);
}