.Form {
  width: 82%;
  padding-block: 2.5rem;
  margin-inline: auto;
}

.Form p {
  text-align: left;
  margin-bottom: 1.5rem;
  color: var(--DarkGrayishCyan);
}

/* Number Inputs */
.Form .formControl {
  position: relative;
  text-align: left;
  margin-inline: auto;
  color: var(--DarkGrayishCyan);
}

.Form .formControl .labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Form .formControl img {
  position: absolute;
  left: 2rem;
  bottom: 3rem;
}

.Form .formControl label,
.Form .formControl input[type="number"] {
  display: inline-block;
  width: 100%;
}

.Form .formControl input[type="number"] {
  font-size: 2rem;
  font-family: inherit;
  text-align: right;
  background-color: var(--VeryLightGrayishCyan);
  color: var(--VeryDarkCyan);
  padding-block: .5rem;
  padding-inline: 1.5rem;
  border: none;
  border-radius: .5rem;
  margin-block: .5rem 2rem;
  -webkit-appearance: textfield;
  -moz-appearance: textfield; 
  -appearance: textfield;
}

.Form .formControl input[type="number"]:focus {
  border: 2px solid var(--StrongCyan);
  outline: none;
}

.Form .formControl input[type="number"]::-webkit-inner-spin-button,
.Form .formControl input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* Radio Inputs */
.Form fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  font-size: 2rem;
  margin-block-end: 2rem;
  border: none;
}

.Form fieldset input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.Form fieldset label {
  display: inline-block;
  background-color: var(--VeryDarkCyan);
  color: var(--White);
  padding: 1rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
}

.Form fieldset input[type="radio"]:checked + label,
.Form fieldset input[type="radio"]:focus + label {
  background-color: var(--StrongCyan);
  color: var(--VeryDarkCyan);
}

.Form fieldset label:hover {
  background-color: var(--LightGrayishCyan);
  color: var(--VeryDarkCyan)
}

/* Custom Input */
.Form fieldset .customInputControl {
  position: relative;
  border-radius: .5rem;
}

.Form fieldset .customInputControl label {
  position: inherit;
  width: 100%;
  background-color: var(--VeryLightGrayishCyan);
  color: var(--DarkGrayishCyan);
  z-index: 1;
}

.Form fieldset .customInputControl input[type="number"] {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  font-family: inherit;
  font-size: inherit;
  text-align: center;
  color: var(--VeryDarkCyan);
  border: none;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -appearance: textfield;
}

.Form fieldset .customInputControl input[type="number"]::-webkit-inner-spin-button,
.Form fieldset .customInputControl input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.Form fieldset .customInputControl input[type="number"]:focus {
  outline: none;
}

/* Error */
.Form .formControl .labelContainer .error {
  text-align: right;
  width: 200px;
  color: var(--OrangeError);
}

.Form .formControl input[type="number"].error {
  border: 1px solid var(--OrangeError);
}

/* Media Query */
@media screen and (min-width: 1200px) {
  .Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 475px;
  }

  .Form .formControl {
    width: 100%;
  }

  .Form .tipCtnr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex: 1;
  }

  .Form fieldset {
    grid-template-columns: 1fr 1fr 1fr;
  }
}